@import './variables.scss';

.formContainer {
  background-color: $color-white;
  width: 90%;
  margin: 5rem auto;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;

  @media only screen and (min-width: $bp-smallest) {
    width: 75%;
    padding: 1.6rem 2.4rem;
  }

  @media only screen and (min-width: $bp-small) {
    width: 65%;
  }

  @media only screen and (min-width: $bp-mediumLarge) {
    width: 50%;
  }
}