@import './variables.scss';

.appBtn {
  background-color: $color-grey-light-1;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &__icon {
    padding: 0 5px;
  }

  &__text {
    padding: 0 5px;
    padding-bottom: 1px;
  }

  &__small {
    padding: 0.3rem 1rem;
    font-size: 1.2rem;
    transition: all 0.1s ease-in-out;
  }
  
  &__medium {
    padding: 0.6rem 1rem;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
  }

  &__green {
    color: $color-green-dark; 
    border: 1px solid $color-green-dark;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
  
  &__red {
    border: 1px solid $color-red;
    color: $color-red;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  &__hide {
    @media only screen and (max-width: $bp-smallest) {
      display: none !important;
    }
  }
}
