@import './variables.scss';

.btn {
  width: 100%;
  color: $color-grey-light-2;
  background-color: $color-green;
  border-radius: 0.5rem;
  border: none;
  height: 4rem;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  vertical-align: center;
  transition: background 0.3s ease-in-out;
  
  &:hover {
    background: $color-green-dark;
  }
  
  &:focus {
    outline: none;
  }
}
