.dataInputContainer {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.inputLabel {
  font-size: 14px; 
  margin-right: 5px;
  font-weight: 400;
  padding-left: 2px;
}

.dataInput {
  font-size: 12px;
  padding: 3px 5px;
  border: 1px solid #d1d5da;
  border-radius: 5px;
  background-color: #fafbfc;
}

.dataInput:focus {
  outline: none;
}

.btnContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.commentsInput {
  resize: none;
  border-radius: 5px;
  border: 1px solid #d1d5da;
  width: 100%;
  font-family: inherit;
  font-size: 12px;
  padding: 3px 5px;
}

.commentsInput:focus {
  outline: none;
}