@import './variables.scss';

.dropdown {
  position: absolute;
  top: 5.5rem;
  width: 30rem;
  transform: translateX(-80%);
  background-color: $color-white;
  // border: 1px solid $color-grey;
  // border-top: 1px solid $color-white;
  box-shadow: -1rem 2rem 5rem rgba(black, 0.2);
  border-radius: 5px;
  padding: 1rem;
  overflow: hidden;
  z-index: 100;
 
  &__item {
    transition: 0.2s background-color linear;

    &:hover {
      background-color: $color-grey-light-2;
    }
  }

  &__link {
    padding: 1rem;
    display: block;
    text-decoration: none;
    color: inherit;
  }
}