.farmCard {
  border: 1px solid #ccc;
  cursor: pointer;
  width: 20%;
  padding: 1rem;
  margin: .5rem;
  border-radius: 2px;
  background: #fff;
}

.farmName {
  border-bottom: 1px solid #ccc;
  font-weight: 500;
  font-size: 2rem;
}

.farmInfo {
  font-size: 1.4rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.farmInfo-item {
  padding-bottom: .5rem;
}

.farmInfo-item_text {
  margin-left: .5rem;
}
