.farmForm-titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* border: 1px solid black; */
}

.farmForm-title {
  font-size: 20px;
  font-weight: 600;
  padding-left: 2px;
  /* border: 1px solid red; */
}

.farmForm-backLink {
  color: #0e67ec;
  font-size: 12px;
  cursor: pointer;
  /* border: 1px solid green; */
  padding: 2px;
}

.farmForm-backLink:hover {
  color: blue;
  text-decoration: underline;
}
