.farmContainer {
  padding: 10px;
}

.farmHeader-container {
  display: flex;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
}

.farmHeader-title {
  display: flex;
  align-items: center;
}

.farmHeader-info {
  text-decoration: none;
  font-size: 14px;
}

.farmHeader-text {
  font-size: 26px;
  font-weight: 500;
  padding: 10px;
}

.farmHeader-link {
  color: #0e67ec;
  font-size: 18px;
}