@import './variables.scss';

.farmForm {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__title {
    font-size: 2rem;
    font-weight: 600;
    padding-left: 2px;
  }

  &__backLink {
    color: $color-blue-1;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 2px;
    
    &:hover {
      color: $color-blue-2;
      text-decoration: underline;
    }
  }
}






