@import './variables.scss';

.loading {
    background-color: $color-grey-light-2;
    border: 1px solid $color-grey;
    color: $color-grey-dark-1;
    font-weight: 400;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.4rem;

    @media only screen and (min-width: $bp-small) {
      margin-top: 1.5rem;
    }
  };