@import './variables.scss';

.navbar {
  border-bottom: 1px solid $color-grey;
  background: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  &__title {
    cursor: pointer;
    padding: 0.5rem 2rem;
  }

  &__item {
    padding: 1rem 5rem 1rem 4rem;
    font-size: 1.4em;
    font-weight: 400;
    border-left: 1px solid $color-grey;
    cursor: pointer;
    display: flex;
    margin: 2px;
  }  

  &__text {
    display: block;
    align-self: center;
  }
}

// .link {
//   text-decoration: none;
//   color: $color-green-dark;
//   align-self: center;
// }

.logo {
  height: 4rem;
}
